
<ion-content>
    <ion-button (click)="grabar()" *ngIf="estado==0">
        <ion-icon name="radio-button-off"></ion-icon>
    </ion-button>
    <ion-button (click)="pararGrabacion()" *ngIf="estado==2">
        <ion-icon name="square"></ion-icon>
    </ion-button>
    <ion-text color="primary" *ngIf="estado==2">
        Grabando {{archivoGrabacionActual?.nombre}}
    </ion-text>


    Estado:
    <span *ngIf="estado==0">Inactivo</span>
    <span *ngIf="estado==2">Corriendo</span>
    <span *ngIf="estado==3">Pausado</span>
    <span *ngIf="estado==4">Parado</span>
    
    
    <div *ngIf="timerEncendido">
        {{timer}} segundos
    </div>
    
    <ion-list>
        <ion-item *ngFor="let unItem of tags; let i = index" (click)="seleccionoTag(i)">
            <ion-label>{{unItem}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-button (click)="upload()" *ngIf="estado==4">
        Subir archivo
    </ion-button>

</ion-content>
