<ion-header>
  <ion-toolbar>
    <ion-title>Interview recorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="grabacion">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Grabación</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="reproduccion">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-label>Reproducción</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
</ion-content>
