<ion-content>

    <ion-button (click)="reproducir()" *ngIf="(estado==0 || estado==1) && archivoReproduccionActual">
        <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button (click)="pausar()" *ngIf="estado==2">
        <ion-icon name="pause"></ion-icon>
    </ion-button>
    <ion-button (click)="parar()" *ngIf="estado!=0">
        <ion-icon name="square"></ion-icon>
    </ion-button>

    <ion-text color="primary" *ngIf="archivoReproduccionActual?.nombre">
        Seleccionado {{archivoReproduccionActual.nombre}}
    </ion-text>



    <div *ngIf="timerEncendido">
        {{timer}} segundos
    </div>

    <div *ngIf="estado==0">
        <ion-title>Grabaciones</ion-title>
        <ion-list >
            <ion-item *ngFor="let unItem of grabaciones; let i = index" (click)="seleccionarGrabacion(i)">
                <ion-label>{{unItem.nombre}}</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="estado!=0">
    <ion-title>Etiquetas</ion-title>
    <ion-list>
        <ion-item *ngFor="let unItem of archivoReproduccionActual.tags; let i = index">
            <ion-label>{{unItem.nombre}}</ion-label>

            <ion-button *ngFor="let unaPosicion of unItem.posiciones">
                <ion-label (click)="irAPosicion(unaPosicion)">Go</ion-label>
            </ion-button>
        </ion-item>
    </ion-list>
    </div>

</ion-content>